@page "/"

@if (AppState is not null && AppState.Files.Any())
{
    <MatNavMenu Class="nav-menu">
        @foreach (var file in AppState.Files)
        {
            <H5GroupView Group="file.H5File"></H5GroupView>
        }
    </MatNavMenu>
}
else
{
    <div class="drop-area">
        <InputFile accept=".h5"
                   OnChange="OnInputFileChange" />

        <MatHeadline2>Drop your HDF 5 file here ...</MatHeadline2>
    </div>
}


